*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/am-kernels/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am


ysyxSoC
navy-apps/libs/libc/build/libc-riscv64.a
navy-apps/libs/libc/build/libc-riscv64.a
navy-apps/libs/libc/build
navy-apps/libs/libc/build/*.a
navy-apps/libs/libc/build/*.o
navy-apps/libs/libc/build/riscv64/src/argz/*.o
