*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.cc
!*.cpp
!.gitignore
!README.md
!/csrc/*.*
!/csrc/*
!/src/main/scala/empty/*
!src
!csrc
!project
!quartus
!target
.bloop 
project/.bloop/npc-build
target/bg-jobs
target/task-temp-directory